---
const {data} = Astro.props;
// console.log(data);
---
<!-- artists/acid-pauli -->
<a href={`artists/${data.slug}`}>

<article class="container">
<div class="card">
    <div class="card_content">
        <img src={data.img}alt="Billede af kunstner" loading="lazy">
        <h2>{data.artistname}</h2>
        <p>{data.dato}</p>
        <p>{data.lokation}</p>
        <button>Learn more</button>
    </div>
</div>
</article>
</a>

<style>
.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--aubergine);
 border-radius: 50%;
 width: 300px;
 height: 300px;
    box-shadow: 0 4px 6px rgba(39, 19, 23, 0.1);
    padding: 20px;
    /* flex: 0 0 calc(33.33% - 20px); Adjust width as needed */
}

.card_content {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card_content h2 {
    font-family: var(--secondary-font);
    font-size: var(--h2-textD1);
    color: var(--aubergineD);
    margin-bottom: 10px;
}

.card_content p {
    font-size: var(--body-textD1);
    color: var(--aubergineD);
    margin-bottom: 10px
}

/* Hover effect */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(39, 19, 23, 0.1);
    background-color: var(--cyan);
}

.card:hover .card-content {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}
 </style>
