---
const {data} = Astro.props;
console.log(data);
---
<!-- artists/acid-pauli -->
<a href={`artists/${data.slug}`}>

<article class="container">
<div class="card">
    <h2>{data.artistname}</h2>
    <!-- <img src={img} alt="Acid Pauli"> -->
    <p>{data.dato}</p>
    <p>{data.lokation}</p>
    <p>{data.beskrivelse}</p>
    <button>Learn more</button>
</div>
</article>
</a>

<style>
.card {
 border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
 }
 
 </style>